<p-menubar class="menubar" [model]="items">
    <ng-template pTemplate="item" let-item let-i="index"></ng-template>
    <ng-template pTemplate="end">
        <div class="grid">
            <div class="hidden md:inline-flex sm:flex-1 h-2rem sm:col-8 md:col-8 lg:col-9">
                <p-button icon="pi pi-github" styleClass="p-button-text"></p-button>
            </div>
            <div class="md:inline-flex sm:flex-1 sm:col-4 md:col-4 lg:col-3 ">
                <p-button icon="pi pi-linkedin" styleClass="p-button-text"></p-button>
            </div>
            <div class="md:inline-flex sm:flex-1 sm:col-4 md:col-4 lg:col-3 ">
                <p-button styleClass="p-button-text">
                    <ng-template pTemplate="icon">
                        <i class="fa-brands fa-medium" style="color: #ffffff;"></i>
                    </ng-template>
                </p-button>
            </div>
        </div>
    </ng-template>
</p-menubar>
<header>
    <h1>Guilherme<br> <span>[ Full-stack Developer ]</span></h1>
</header>