$font-family: "Montserrat", sans-serif;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    margin: 2% 15% 1% 15%;
    font-family: $font-family;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
    min-height: 22em;
    margin-top: 5em;
    margin-bottom: 3em;
}

footer {
    font-family: $font-family;
    background-color: #fcd45d;
    text-align: center;
    padding: 30px 0 30px;
}