* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    margin: 2% 15% 1% 15%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}

.content {
    min-height: 22em;
    margin-top: 5em;
    margin-bottom: 3em;
}

.footer {
    margin-bottom: 5em;
}