
    <h2>Hello, my name is Guilherme de Oliveira</h2>
    <p>
        I'm a Full-Stack developer based in São Paulo, Brazil.
    </p>
    <p>
        I've given my best in projects related to ETL, Billing and Asset Management using several technologies and
        tools.
    </p>
    <p>
        Become a JavaScript Expert is my currently goal.
    </p>
    <p> I have experience in many differents languages, but my strength is Angular and Node.js</p>
    <div class="grid">
        <div class="sm:col-12 md:col-4">
            <p><b>Front-end</b></p>
            <ul *ngFor="let item of frontEnd">
                <li>{{item}}</li>
            </ul>
        </div>
        <div class="sm:col-12 md:col-4">
            <p><b>Back-end and Databases</b>: </p>
            <ul *ngFor="let item of backEnd">
                <li>{{item}}</li>
            </ul>
        </div>
        <div class="sm:col-12 md:col-4">
            <p><b>Systems and middlewares</b>: </p>
            <ul *ngFor="let item of system">
                <li>{{item}}</li>
            </ul>
        </div>
    </div>
